@page {
  size: A4;
  margin: 0;
}

.page {
  margin: auto;
  background: white;
  position: relative;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.pageA4 {
  width: 210mm;
  height: 297mm;
}

.pageA6 {
  width: 105mm;
  height: 149mm;
}